<comp-header label="test"></comp-header>
<ion-content>
  <!-- Text Block -->
  <comp-text-block label="Hello, {{userName}}"></comp-text-block>
  <!-- Text Block -->
  <!-- <div class="custom-iframe-wrapper"> -->
    <!-- Floating Button -->
    <!-- <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button (click)="triggerScanner()">
        <ion-icon name="scan-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
    <!-- Floating Button -->
    <!-- IFrame -->
    <!-- <comp-iframe-loader [url]="iframeUrl"></comp-iframe-loader> -->
    <!-- IFrame -->
  <!-- </div> -->
  <ion-button type="button" (click)="logout()" expand="full" color="primary">Logout</ion-button>
</ion-content>