<div class="mega-menu-wrapper">
  <div class="mega-menu-wrapper-inner">
    <div class="close-wrapper">
      <ion-icon name="close-outline" size="large" (click)="closeHeader()"></ion-icon>
    </div>
    <div class="menu-wrapper">
      <div class="uneven-grid">
        <div class="box box-1">
          <div class="box-wrapper">
            <ion-icon name="home-outline"></ion-icon>
            <span>Home</span>
          </div>
        </div>
        <div class="box box-2">
          <div class="box-wrapper column">
            <ion-icon name="fast-food-outline"></ion-icon>
            <span>Food Order</span>
          </div>
        </div>
        <div class="box box-3">
          <div class="box-wrapper">
            <ion-icon name="people-outline"></ion-icon>
            <span>Staff</span>
          </div>
        </div>
        <div class="box box-4">
          <div class="box-wrapper">
            <ion-icon name="restaurant-outline"></ion-icon>
            <span>Eat</span>
            <span>What</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>