.mega-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1f69c1;
    z-index: -1;
    &-inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-left: 35%;
        padding-top: 1.25rem;
        padding-right: 0.625rem;
        .close-wrapper {
            text-align: right;
        }
        .menu-wrapper {
            margin-top: 1rem;
            .uneven-grid {
                .box {
                    background-color: #333333;
                    margin: 2px;
                    float: right;
                    &-wrapper {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-family: 'Helvetica Neue', 'Helvetica','HelveticaNeue-Light';
                        ion-icon {
                            font-size: 1.5rem;
                            margin-bottom: .5rem;
                        }
                        span {
                            font-size: .75rem;
                        }
                        &.column {
                            flex-direction: row;
                            ion-icon {
                                margin-bottom: 0;
                                margin-right: .5rem;
                            }
                        }
                    }
                }
                .box-1 {
                    height: 72px;
                    width: 31%;
                }
                .box-2 {
                    height: 42px;
                    width: 63.5%;
                }
                .box-3 {
                    height: 72px;
                    width: 30.5%;
                }
                .box-4 {
                    height: 120px;
                    width: 31%;
                    @media screen and (min-width: 375px){
                        width: 31.5%;
                    }
                }
            }
        }
    }
}